target
legacy
input
output
icons
*.png
!assets/logo.png
!crates/server/frontend/logo.png
*.svg
!assets/logo.svg
!assets/logo-readme.svg
!crates/server/frontend/logo.svg
*.zip
.git
.claude
node_modules
crates/wasm/pkg
